/* Rules to help make DokuWiki functionality a bit more useful/not so ugly. The
 * DokuWiki CSS can clash with the Bootstrap CSS. 
 * */
#config__manager .label {
    white-space: normal;
}

.editBar .edit,
#dw__editform textarea 
{
    width: auto;
}

.sidebar {
	position: fixed;
}

.second_top_nav {
	position: fixed;
}
