body {
    padding-top: 46px;
    padding-bottom: 40px;
}

/* offset h1 targets with top navbar so that navigation anchor links line up */
.page h1, .page h2, .page h3, .page h4, .page h5 {
	padding-top: 72px;
	margin-top: -52px;
}

/* Give the side TOC some space between top bar */
.page {
    padding: 15px 0;
}

/*
 *  * Side navigation
 *   *
 *    * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 *     * sections of docs content.
 *      */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar {
  padding-top: 15px;
  position: fixed;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block; 
  padding: 5px 20px;
}

.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  background-color: transparent;
  border-right: 1px;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

.bs-sidebar .nav > .active > ul {
   display: block;
}

@media screen and (max-width: 993px) { /* height <= 500 px */

	.bs-sidebar {
		display: none;
	}
}

.text-right {
	text-align: right;
}
